<% layout("./layouts/boilerplate.ejs")%>
<style>
    *{
    margin: 0;
    padding: 0%;
     font-family: 'Poppins', sans-serif; 
}
.login{
    background:whitesmoke;
}
a{
    text-decoration: none;
    font-family: "roboto";
    font-weight: 400;
 
    
}


.login_logo{
    display: flex;color: #4070f4;
font-family: "poppins" !important;
font-weight: 600 !important;
    width: 100%;
    margin-top: 1rem;
    padding-left: 1rem;

}

.logo_icon{
    color: #4070f4;

}
.login_label{
    font-size: 1rem !important;
    margin-bottom: 0.5rem;
    margin-left: -0.7rem;
    font-family: "poppins";
   
}
.login_a{
    border: 1px solid black;
    display: block;
    width: fit-content;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 2rem !important;
color: black;}
.under_login{
    
    width: 100% !important;
    margin: auto !important;
    
    width: fit-content !important;

}
.button{
width: 300px;
border-radius: 20px;
margin-top: 1rem;
}
.form-control{
    width: 300px;
    border-radius: 10px;
    
}
h4{
    text-align: center;
    font-family: "roboto";
}
p{
    text-align: center;
}

</style>
<body class="login">
 <div class="login_logo"><i class="fa-brands fa-neos logo_icon"></i>
          <h2>Nault</h2>
        </div>
      <%-include("../includes/flash.ejs")%>
      <script src="/js/validate.js"></script>

<div> <br>
    <div class="under_login">
        <h4 class="">Login </h4><br>
    <form action="/login/log" method="post" class="needs-validation" novalidate>
        <div class="row">
                <div class="">
            <div class="">
               <label for="" class="login_label">Username</label>
                <input required type="text" class="form-control"name="username" placeholder=" Enter your username or email">
                  <div class="invalid-feedback">Enter Username !</div></div><br>
            <div class="">
                   <label for="" class="login_label">Password</label>
                <input required type="text"class="form-control" name="password" placeholder="Enter your password">
              <div class="invalid-feedback">Enter Password !</div></div><br>
        </div>
        </div>
        <!-- <a href="/login/signup/forget" id="forgota">Forgot password ?</a><br><br> -->
        <div class=""> <button class="btn btn-primary button">Login</button></div>
       
    </form> 
    </div>
    <br>
    <hr><br>
    <p class="">Don't  have an account ? <a href="/login/signup">Create New</a></p>
    <a class="login_a" href="/login/forgotpassword">Forgot Pasword</a>
</div>
</body>
