<% layout("./layouts/boilerplate.ejs")%>
<style>
    *{
    margin: 0;
    padding: 0%;
     font-family: 'Poppins', sans-serif; 
}
.login{
    background:whitesmoke;
}
a{
    text-decoration: none;
    font-family: "roboto";
    font-weight: 400;
 
    
}


.login_logo{
    display: flex;color: black;
font-family: "poppins" !important;
font-weight: 600 !important;
    width: 100%;
    margin-top: 1rem;
    padding-left: 1rem;

}

.logo_icon{
    color: black ;

}
.login_label{
    font-size: 1rem !important;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    font-family: "roboto";
   
}
.login_a{
    border: 1px solid black;
    display: block;
    width: fit-content;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 2rem !important;
color: black;}
.under_login{
    
    width: 100% !important;
    margin: auto !important;
    
    width: fit-content !important;

}
.button{
width: 300px;
border-radius: 20px;


display: block;
margin: auto;
margin-top: 2.5rem;
margin-bottom: 2rem;
}
.form-control{
    width: 300px;
    margin: auto;
    margin-bottom: 1.5rem;
}
h4{
    text-align: center;
    font-family: "roboto";
}
p{
    text-align: center;
}


</style>

<body class="login">
     <div class="login_logo"><i class="fa-brands fa-neos logo_icon"></i>
          <h2>Nault</h2>
        </div>
      <%-include("../includes/flash.ejs")%>
<div class=""> <br>
    <h4 class="hide">Signup</h4><br>
    <form action="/login/signup" class="needs-validation hide" method="post" novalidate>
        <div class="">
                <div class="">
            <div class="">
                 <label for="" class="login_label">Username</label>
                <input required type="text" class="form-control"name="username" placeholder="Enter new username">
                  <div class="invalid-feedback">Enter Username</div></div>
            <div class="">
                 <label for="" class="login_label">Email</label>
                <input required type="Email"class="form-control" name="email" placeholder="Enter your email">
              <div class="invalid-feedback">Enter Email</div></div>
                 <div class="">
                 <label for="" class="login_label">Password</label>
                <input required type="text" class="form-control"name="password" placeholder="Enter password">
                  <div class="invalid-feedback">Enter Password</div></div>
        </div>
        </div>
     <button class="btn btn-primary button">Signup</button>
       
    </form> 

    

    <hr><br>
    <p class="hide">Already have an account ? <a href="/login">Login</a></p>
</div>
<script src="/js/validate.js">

</script>
</body>
