<% layout("./layouts/boilerplate.ejs")%>
<style>
    *{
    margin: 0;
    padding: 0%;
     font-family: 'Poppins', sans-serif; 
}
.login{
    background:whitesmoke;
}
a{
    text-decoration: none;
    font-family: "roboto";
    font-weight: 400;
 
    
}


.login_logo{
    display: flex;color: #4070f4;
font-family: "poppins" !important;
font-weight: 600 !important;
    width: 100%;
    margin-top: 1rem;
    padding-left: 1rem;

}

.logo_icon{
    color: #4070f4;

}
.login_label{
    font-size: 1rem !important;
    margin-bottom: 0.5rem;
    margin-left:-1rem;
    font-family: "poppins";
   
}
.login_a{
    border: 1px solid black;
    display: block;
    width: fit-content;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 2rem !important;
color: black;}
.under_login{
    
    width: 100% !important;
    margin: auto !important;
    
    width: fit-content !important;

}
.button{
width: 200px;
border-radius: 20px;


display: block;
margin: auto;
margin-top: 1rem;
margin-bottom: 2rem;
}
.form-control{
    width: 300px;
    margin: auto;

  border-radius: 10px;
}
h4{
    text-align: center;
    font-family: "roboto";
}
p{
    text-align: center;
}

.contain{

    width: fit-content;
    margin:auto;
   
    margin-top: 2rem;
    
}
</style>

<body class="login">
     <div class="login_logo"><i class="fa-brands fa-neos logo_icon"></i>
          <h2>Nault</h2>
        </div>
      <%-include("../includes/flash.ejs")%>
<div class="contain"> <br>
    <h4 class="">OTP Verification</h4><br>
 <form action="/login/verify-otp/forgot" class="needs-validate" method="post" class="show" novalidate>
 
  <input type="text" id="otp"class="form-control otp" name="otp" required placeholder="Enter OTP">
  <button type="submit" class="btn btn-success button">Verify OTP</button>
</form>
</div>
<script src="/js/validate.js">

</script>
</body>
