.folderHeading {
  color: blue;
  margin: auto;
}
.folder {
  align-items: center;
  width: 100%;
  height: 100vh;
}

h4 {
  margin: 10px 0 0 10px;
}
.nav-link {
  color: black;
}

.subject_head {
  display: flex;
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 2%;
  background: #4070f4;
  color: white;
  font-family: "Poppins";
}
  i {
    color: white;
    font-size: 1.5rem;
    margin-top: 2px;
    margin-right: 10px;
  }
  body {
    background: #efefef;
  }
  .navbar {
    background: #4070f4;
    color: white !important;
  }
  a {
    text-decoration: none;
  }
  .p {
    position: relative;
    top: 10%;
    left: 20%;
  }


   .arrow{
  background: #4070f4;
  border-radius: 50%;
  width:20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 6px;
  margin-bottom: -10px;
 }
 .arrow:hover {
  background: green;
 }
 .fa-arrow-left{
  position: relative;
  top: -3px;
  left:5px;
 }
 .add{
    width: fit-content;
    margin: 0;
    padding: 0 ;
    border-radius: 50%;
    padding: 0.5rem;
    position: fixed;
    box-shadow: 1px 1px 4px blue;
    bottom: 5rem;
    right: 0.8rem;
    background: white;
    transition: 0.3s;
}


.fa-plus{
    position: relative;
    left: 5px;
    font-size: 2rem;
    color: blue;
    transition: 0.3s;
}

 
.rotate-left{
   transform: rotate(45deg); 
}
.rotate-right{
    transform: rotate(-45deg);
}
.fa-pen , .fa-envelope ,.fa-house{
  font-size: 0.9rem !important;
}