 .folder1{
    width:fit-content;
    margin: auto;
    margin-top: 2%;
 }
     
      .cancel{
        margin-left: 30px;
      }
      .deleteFolderConform{
      
        box-shadow: 1px 1px 8px grey;
        background: white;
        width: fit-content;
        align-content: center;
        border-radius: 10px;
        padding: 15px;
        margin-top: 10px;
        left: 40%;
         
      }

   
    @media (max-width: 768px) {
      .btn-close{
        margin-top: -5px !important;
       }
       .deleteFolderConform{
        left: 6% !important;
       }
       .warning-p{
        font-size: 0.7rem !important;
       }
      }