<% layout("./layouts/boilerplate.ejs")%>
<link rel="stylesheet" href="/CSS/home.css">

<body>
<nav class="navbar navbar-expand-md sticky-top navbar-light bg-body-light border-bottom">
  <div class="container-fluid">
       <div class="head"><i class="fa-brands fa-neos"></i><h2>Nault</h2></div>

    <button class="navbar-toggler"   type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link enter create" style="color: white;" href="#">Create Subject</a>
       
        </div>
      <div class="navbar-nav ms-auto ">
        <% if(!currUser){%>
        <a  class="nav-link" href="/signup">Signup</a>
        <a  class="nav-link" href="/login" style="color: white;">Login</a>
        <%}%>
        <%if(currUser){%>
        <a class="nav-link" href="/login/logout" style="color: white;">Logout</a>
        <%}%>
      </div>
    </div>
  </div>
</nav>
        <%-include("../includes/flash.ejs")%>

<div class="bg">
      <%if(classData){%>
     <div class="form">
<form action="/subject/create/<%=classData._id%>" class="needs-validation" novalidate method="post">
<div class="container col-9 mt-5"> <br>
<input required type="text" class="form-control"name="subjectName" placeholder="Subject Name">
<div class="invalid-feedback">Enter Classroom ID</div><br>
<div class="d-grid"> <button class="btn btn-success d-grid col-8 mx-auto button">Create</button></div>
</div><br>
</form>
</div>
      
        <%} else {%>
           
<h5 style="color: black; margin:10px 0px 10px 10px;">Classroom not found</h5>
<a href="/classroom"><button class="btn btn-success buttons">Home</button></a>
            <% } %>


   <%if(classData&&classData.subject){%>
    <%for(let i of classData.subject){%>

        <form action="/subject/<%=i._id%>"> <div class="folder1">  <button class="sub"> <%=i.username%>  </button> </div></form>

        <%}%>
        <%}%>

        <%if(classData&&!classData.subject.length){%>
              <h6 >Subject Needed<br>Click 'Create Subject' button in navbar  </h6>

          <% } %>
 
   

<script>
    let button = document.querySelector(".enter");
    let form= document.querySelector(".form");
    let span=document.querySelector(".navbar-toggler-icon");

    let check=true;
    button.addEventListener("click",()=>{
        if(check){
        form.style.display="inline";
        check=false
        button.style.color="black";
        button.style.background="#4070f4";

}
    else if(check==false){
        form.style.display="none";
        check=true;
        button.style.color="white";
        button.style.background="#4070f4";
    }
    });




</script>


</body>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');
</style>
